body {
    /*background-color: rgba(32, 81, 49, 0.4);*/
    background-color: rgba(0, 77, 38, 0.3) !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

}


.header {

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../resursi/slike/muzejPozadina.jpg);
    background-size: cover;
    background-position: center;


    padding: 10px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

#logo {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    &:hover {
        transform: scale(1.05);
    }
}

footer {
    text-align: center;
    color:white;

    img {
        width: 70px;
    }
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../resursi/slike/muzejPozadina.jpg);
    background-size: cover;
    background-position: center;
}

.header #logo {
    display: block;
    margin: auto;
    width: 350px;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;

    @media only screen and (min-width: 1200px) {
        padding-right: 40px;
    }

    text-align: center;
}

.menuBar {
    display: inline;
    text-align: center;
}

.menuBar a:hover {
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

    color: black
}

.menuBarCurrent {
    display: inline-block;
    text-align: center;
    background-clip: content-box;
    background-color: rgba(17, 50, 44, 0.4);

}

.menuBarCurrent a:hover {
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

    color: black
}

/* CSS dio za index.html */

#lokacija {
    display: block;
    font-size: 15px;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
}

.lokacija {
    font-size: 25px;
    font-weight: bold;
    color: black;
}


#mapa {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.pocetna-tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    justify-content: space-between;

    

    .slika {
        display: flex;
        justify-content: center;

        img {
            max-width: 70%;
            max-height: 70%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border: 3px solid black;
            border-radius: 5px;
        }
    }
}
@media only screen and (min-width: 1300px) {
.pocetna-tekst h2{
    text-align: center;
}
.pocetna-tekst p{
    margin-left: 30px;
}
}

.tablicainformacija {
    display: flex;
    flex-wrap: wrap; 
    margin: 0 auto; 
    padding: 4%;
  }
  
  .informacija {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
  }
  
  .informacija h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .informacija img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .informacija p {
    text-align: justify;
    line-height: 1.5;
  }
  
  
  
  @media only screen and (max-width: 1720px) {
    .informacija {
      width: 100%;
    }
    .pocetna-tekst h2{
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
    }
    .pocetna-tekst p{
        margin:auto;
    }
  }

.kalendar {
    margin: 150px auto;
    max-width: 800px;
    font-family: serif;
    font-weight: black;

    table,
    th,
    td {
        width: 100%;
        table-layout: fixed;
        text-align: center;
        font-size: 27px;
        border-collapse: collapse;
        border: 5px solid black;
        font-family: Elaphant;
    }

    tr,
    th,
    td {
        padding: 15px;
    }

    th {
        background: rgb(0, 0, 0, 0.3);
        color: white;
    }

}

.mjesec {
    text-align: center;
    background: rgb(256, 256, 256, 0.3);
    font-size: 80px;
    letter-spacing: 1px;
    color: black;
    border: 2px solid black;
}

.saznajteVise {
    font-weight: bold;
    text-decoration: none;
    color: black;
}


@media only screen and (max-width: 1300px) {
    nav {
        display: grid;
        gap: 5px;
        align-items: center;
        justify-content: center;
        padding-right: 0;
    }

    .menuBar,
    .menuBarCurrent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        font-size: 15px;
        padding-right: 0;
    }
}

@media only screen and (max-width: 1300px) {
    .header {
        padding: 5px;
        font-size: 20px;
    }

    #logo {
        width: 250px;
    }


    .pocetna-tekst {
        grid-template-columns: 1fr;
    }

    .slika img {
        margin-top: 20px;
        max-width: 100%;
        height: auto;
    }

    #mapa {
        width: 100%;
    }

    #lokacija {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .lokacija {
        font-size: 18px;
    }
}


/* CSS dio za oAutoru.html */

.Autor {
    @media only screen and (min-width: 1000px) {
        display: flex;

        margin: 50px auto;
        width: 1000px;
        padding: 20px;
    }

    p {

        font-weight: bold;
        font-size: xx-large;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
}

.content {
    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 20px;
    }
}

.hobiji {
    font-weight: 600;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .Autor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    span {
        display: block;
        margin-bottom: 20px;
    }
}

/* CSS dio za dokumentacija.html*/

.dokumentacija {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    td{
        padding: 20px;
    }

    table, td{
        border: 2px black solid;
        width: 300px;
    }

    p {
        margin-top: 100px;
        font-size: xx-large;
        font-weight: bold;
        color: black;
        text-decoration: none;
    }

    a {
        font-size: large;
        font-weight: 600;
        color: black;
        text-decoration: none;
    }


    li {
        padding: 10px;
        border: 1px dotted;
        margin-bottom: 20px;
    }

    a:hover {
        background-clip: content-box;
        background-color: rgba(17, 50, 44, 0.4);
    }

    @media only screen and (max-width: 400px) {
        table, td{
            width: 200px;
        }
    }
}

/* CSS dio za proizvod.html */

#naslovobrazca{
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;
    font-weight: bold;
}

.obrazacProizvod{
    display: flex;
    flex-direction: column;
    margin: 2px auto 50px auto;
    gap: 10px;
    padding: 30px 40px;
    max-width: 500px;
    background-color: rgb(215, 215, 215);
    border-radius: 20px;

    button{
        grid-column: 2 / span 1;
        height: 40px;
    }
    
    label{
         padding-top: 4px;
    }

    input, textarea{
        background-color: white;

        &:placeholder-shown{
            background-color: rgb(236, 236, 236);
        }
        border-radius: 5px;
        height: 25px;
    }

    textarea{
        height: 10vh;
    }

}

@media only screen and (max-width: 800px){
    .obrazacProizvod{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        max-width: 600px;
    }
}

/* CSS dio za galerija.html */
.galerija {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 100%; 
}

.galerija img {
  width: 550px; 
  height: 440px;
  display: block; 
  margin: 0 auto; 
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid black;
  border-radius: 5px;

}

nav + p{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 100px;
}

@media only screen and (max-width: 1690px){
    .galerija {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        width: 100%; 
      }
      
      .galerija img {
        width: 500px; 
        display: block; 
        margin: 0 auto; 
        margin-bottom: 20px;
      }
}

@media only screen and (max-width: 1050px){
    .galerija {
        display: flex;
        flex-direction: column;
        width: 100%; 
      }
      
      .galerija img {
        width: 500px; 
        display: block; 
        margin: 0 auto; 
        margin-bottom: 20px;
      }
}


/* 
/*
<div class="kalendar">
    <div class="mjesec">
        <strong>TRAVANJ</strong>
        <strong>2024.</strong>
    </div>

    <table>
        <tr>
            <th>Ned</th>
            <th>Pon</th>
            <th>Uto</th>
            <th>Sri</th>
            <th>Čet</th>
            <th>Pet</th>
            <th>Sub</th>
        </tr>
        <tr>
            <td></td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
        </tr>
        <tr>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
        </tr>
        <tr>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
        </tr>
        <tr>
            <td>28</td>
            <td>29</td>
            <td>30</td>
        </tr>
    </table>
</div>
*/